<form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()"
    class="w-full h-full flex flex-col gap-[1vw] rounded-2xl p-[1.5vw]">
    <div class="flex justify-between items-center">
        <div class="flex items-center gap-[0.5vw]">
            <img src="assets/svgs/icon-app.svg" alt="" draggable="false">
            <h1 class="font-family-ubuntu-bold">Tala Tasks</h1>
        </div>
        <app-icon-text-button [iconSvg]="closeIcon.svg" [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
            [colorHover]="'var(--secondary-color)'" [viewBox]="closeIcon.viewBox" [iconSize]="closeIcon.size"
            (click)="closeUpdateProfile()">
        </app-icon-text-button>
    </div>
    <h1 class="text-[2vw] font-family-ubuntu-mono-bold">Update Profile</h1>
    <div class="w-full h-full flex flex-col gap-[8vh] overflow-y-auto">
        <div class="w-full flex-1 min-h-0 relative">
            <img src="assets/images/waves-user.svg" alt="" class="w-full h-full object-cover rounded-2xl"
                draggable="false">
            <div
                class="absolute bottom-[-30px] left-1/2 -translate-x-1/2 min-w-[80px] min-h-[80px] lg:w-[5vw] lg:h-[5vw] flex items-center justify-center bg-[var(--pink)] rounded-full border-5 border-[var(--primary-color)]">
                <img src="assets/svgs/user.svg" alt="" class="min-w-[60px] min-h-[60px] lg:w-[4vw] lg:h-[4vw]"
                    draggable="false">
            </div>
        </div>
        <div class="flex flex-col gap-5 items-end h-auto">
            <div class="flex justify-between w-full items-center h-auto">
                <p class="font-family-ubuntu-mono-bold">Full Name</p>
                <div class="flex gap-5 w-[60vw]">
                    <div class="flex flex-col w-full h-full">
                        <input formControlName="name" type="text" placeholder="First Name"
                            class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                        @if (updateUserForm.get('name')?.touched && updateUserForm.get('name')?.errors) {
                        <small class="text-red-500 mt-1">
                            {{ getErrorMessage('name') }}
                        </small>
                        }
                    </div>

                    <div class="flex flex-col w-full h-full">
                        <input formControlName="lastName" type="text" placeholder="Last Name"
                            class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                        @if (updateUserForm.get('lastName')?.touched && updateUserForm.get('lastName')?.errors) {
                        <small class="text-red-500 mt-1">
                            {{ getErrorMessage('lastName') }}
                        </small>
                        }
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-full items-center h-auto">
                <p class="font-family-ubuntu-mono-bold">Username</p>
                <div class="flex flex-col w-[60vw]">
                    <input formControlName="username" type="text" placeholder="Enter your username"
                        class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                    @if (updateUserForm.get('username')?.touched && updateUserForm.get('username')?.errors) {
                    <small class="text-red-500 mt-1">
                        {{ getErrorMessage('username') }}
                    </small>
                    }
                </div>
            </div>
            <div class="flex justify-between w-full items-center h-auto">
                <p class="font-family-ubuntu-mono-bold">New Password</p>
                <div class="flex flex-col w-[60vw]">
                    <input formControlName="password" type="password" placeholder="Enter your new password (optional)"
                        class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                    @if (updateUserForm.get('password')?.touched && updateUserForm.get('password')?.errors) {
                    <small class="text-red-500 mt-1">
                        {{ getErrorMessage('password') }}
                    </small>
                    }
                </div>
            </div>
            <div class="flex justify-between w-full items-center h-auto">
                <p class="font-family-ubuntu-mono-bold">Confirm New Password</p>
                <div class="flex flex-col w-[60vw]">
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm your new password"
                        class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                    @if (updateUserForm.get('confirmPassword')?.touched && passwordMismatch()) {
                    <small class="text-red-500 mt-1">
                        Las contraseñas no coinciden
                    </small>
                    }
                </div>
            </div>

            @if (errorMessage) {
            <div class="w-full text-red-500 text-sm">
                {{ errorMessage }}
            </div>
            }

            <div class="w-full flex gap-[1vw] justify-end">
                <div class="w-auto sm:w-[10%]">
                    <app-icon-text-button [text]="'Cancel'" [bgColorHover]="'var(--red)'" [borderColor]="'var(--red)'"
                        [type]="'button'" [color]="'var(--red)'" [colorHover]="'var(--secondary-color)'" class="w-full"
                        (click)="closeUpdateProfile()">
                    </app-icon-text-button>
                </div>
                <div class="w-auto sm:w-[10%]">
                    <app-icon-text-button [text]="'Save Changes'" [bgColorHover]="'var(--purple)'"
                        [borderColor]="'var(--purple)'" [type]="'submit'" [color]="'var(--purple)'"
                        [colorHover]="'var(--secondary-color)'" class="w-full">
                    </app-icon-text-button>
                </div>
            </div>
        </div>
    </div>
</form>