@if (isEventActive) {
<app-event></app-event>
}

@if (isLoading){
<app-loading></app-loading>
}

<div class="h-screen w-screen flex gap-[1vw] bg-[var(--primary-color)] p-[2vw]">
    <div class="flex flex-col w-full h-full rounded-2xl p-[1.5vw] justify-center items-center">
        <header class="w-full md:w-[80%] flex items-center gap-[0.5vw]">
            <img src="assets/svgs/icon-app.svg" alt="">
            <h2 class="font-family-ubuntu-bold">Tala Tasks</h2>
        </header>
        <div class="w-full md:w-[80%] flex flex-col justify-center flex-1">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="hidden md:block w-full h-full bg-[var(--secondary-color)] rounded-2xl p-[1.5vw] shadow-md">
        <div class="relative w-full h-full rounded-xl overflow-hidden">
            @for (image of images; track $index) {
            <img draggable="false" [src]="image" alt="Slide {{$index + 1}}"
                class="absolute top-0 left-0 w-full h-full object-cover object-center rounded-xl transition-opacity duration-1000 cursor-pointer"
                [class.opacity-100]="currentIndex === $index" [class.opacity-0]="currentIndex !== $index"
                (click)="nextSlide()">
            }
        </div>

        <div class="m-auto relative bottom-10 flex justify-around items-center w-30 lg:w-40 gap-4 rounded-2xl">
            @for (image of images; track $index) {
            <div class="w-[100%] bg-[var(--purple)] h-1 rounded-2xl shadow-md transition-all duration-500 cursor-pointer"
                [class.bg-[var(--purple)]]="currentIndex === $index"
                [class.bg-[var(--light-purple)]]="currentIndex !== $index" [class.w-full]="currentIndex === $index"
                (click)="nextSlide()">
            </div>
            }
        </div>
    </div>
</div>