@if (isLoading){
<div
    class="left-0 top-0 fixed w-screen h-screen bg-[rgba(0,0,0,0.5)] flex justify-center items-center backdrop-blur-sm z-20">
    <svg #loadingSvg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="40" cy="40" r="35" stroke="var(--secondary-color)" stroke-width="6" stroke-dasharray="220"
            stroke-dashoffset="220" stroke-linecap="round" fill="none" />
    </svg>
</div>
}
<app-auth-section [formGroup]="registerForm" [buttonText]="'Create an account'" [title]="'Create an account'"
    [description]="'Already have an account?'" [route]="'/login'" [routeText]="'Sign in'" (formSubmit)="onSubmit()">

    <div class="flex flex-col gap-5">
        <div class="flex gap-5">
            <div class="flex flex-col w-full">
                <input formControlName="name" type="text" placeholder="First Name"
                    class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                @if (registerForm.get('name')?.touched && registerForm.get('name')?.errors) {
                <small class="text-red-500">
                    {{ getErrorMessage('name') }}
                </small>
                }
            </div>

            <div class="flex flex-col w-full">
                <input formControlName="lastName" type="text" placeholder="Last Name"
                    class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
                @if (registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors) {
                <small class="text-red-500">
                    {{ getErrorMessage('lastName') }}
                </small>
                }
            </div>
        </div>

        <div class="flex flex-col w-full">
            <input formControlName="username" type="text" placeholder="Enter your username"
                class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
            @if (registerForm.get('username')?.touched && registerForm.get('username')?.errors) {
            <small class="text-red-500">
                {{ getErrorMessage('username') }}
            </small>
            }
        </div>

        <div class="flex flex-col w-full">
            <input formControlName="password" type="password" placeholder="Enter your password"
                class="w-full bg-[var(--secondary-color)] rounded-md shadow-sm placeholder:text-[var(--gray)] p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200">
            @if (registerForm.get('password')?.touched && registerForm.get('password')?.errors) {
            <small class="text-red-500">
                {{ getErrorMessage('password') }}
            </small>
            }
        </div>
    </div>
</app-auth-section>