@if(isEventActive) {
<app-event></app-event>
}

@if(isLoading) {
<app-loading></app-loading>
}

@if (isPopUpOpen) {
<app-pop-up [title]="currentOperation">
    @if (currentOperation === 'Add List') {
    <app-add-list></app-add-list>
    } @else if (currentOperation === 'Add Task') {
    <app-add-task></app-add-task>
    }
</app-pop-up>
}

<main class="h-screen w-screen flex gap-[1vw] bg-[var(--primary-color)] p-[2vw]">
    <!-- min width provisional not deployment -->
    @if(!showUpdateProfile){
    <app-aside class="aside" [ngClass]="{
             'w-[20%] min-w-[250px]': isAsideOpen,
             'w-[7rem] min-w-0': !isAsideOpen
            }"></app-aside>
    }
    <div class="flex-1 h-full">
        <router-outlet></router-outlet>
    </div>
</main>