<form [formGroup]="addTaskForm" (ngSubmit)="addTask()" class="flex flex-col gap-4">
    <input type="text" placeholder="Task's name" formControlName="name"
        class="w-full bg-[var(--secondary-color)] rounded-lg p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 placeholder-[var(--gray)] text-sm">

    <textarea name="description" id="" formControlName="description" placeholder="Task's description" rows="6"
        class="w-full max-h-[30vh] min-h-[6rem] bg-[var(--secondary-color)] rounded-lg p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-colors duration-200 placeholder-[var(--gray)] text-sm scrollbar-hide"></textarea>

    <hr class="border-[#1f1f1f20] border-t-2 border-dashed">

    <div class="flex flex-col gap-4">
        <p class="text-[var(--gray)] italic text-end">Optional</p>

        <div class="flex gap-2 h-full w-full">
            <!-- Col 1 - List y Priority -->
            <div class="flex flex-col gap-2 w-full">
                <div class="w-full h-full relative">
                    <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                        [iconSvg]="arrowListIcon.svg" [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
                        [borderColor]="'var(--purple)'" [viewBox]="arrowListIcon.viewBox"
                        [iconSize]="arrowListIcon.size" [text]="selectedList()" (click)="toggleDropdown('list')">
                    </app-icon-text-button>

                    @if (openDropdown() === 'list') {
                    <div class="absolute w-full left-0 px-4 py-2 bg-white rounded-lg shadow-lg z-10 grid gap-x-5"
                        [class.grid-cols-1]="lists.length <= 5" [class.grid-cols-2]="lists.length > 5">
                        @for (list of lists; track list.id) {
                        <app-aside-item [title]="list.name" [color]="list.color"
                            [showText]="interfaceService.isAsideOpen()" [bgColorHover]="'var(--primary-color)'"
                            (click)="selectList(+list.id!)">
                        </app-aside-item>
                        }
                    </div>
                    }
                </div>

                <div class="h-full w-full relative">
                    <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                        [iconSvg]="flagIcon.svg" [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
                        [borderColor]="'var(--purple)'" [viewBox]="flagIcon.viewBox" [iconSize]="flagIcon.size"
                        [text]="selectedPriority()" (click)="toggleDropdown('priority')">
                    </app-icon-text-button>

                    @if (openDropdown() === 'priority') {
                    <div class="absolute w-full left-0 px-4 py-2 bg-white rounded-lg shadow-lg z-10 grid gap-x-5">
                        @for (priority of prioritys; track priority) {
                        <app-aside-item [title]="priority.name" [color]="priority.color"
                            [showText]="interfaceService.isAsideOpen()" [bgColorHover]="'var(--primary-color)'"
                            (click)="selectPriority(priority.name)">
                        </app-aside-item>
                        }
                    </div>
                    }
                </div>
            </div>

            <!-- Col 2 - Time y Date -->
            <div class="w-full h-full flex flex-col gap-2">
                <div class="grid grid-cols-2 gap-2 h-full w-full">
                    <!-- Time Column -->
                    <div class="flex flex-col gap-2">
                        <!-- Start Time -->
                        <div class="h-full relative">
                            <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                                [iconSvg]="clockIcon.svg" [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
                                [borderColor]="'var(--purple)'" [viewBox]="clockIcon.viewBox"
                                [iconSize]="clockIcon.size" [text]="selectedStartTime() || 'Start'"
                                (click)="toggleDropdown('startTime')">
                            </app-icon-text-button>

                            @if (openDropdown() === 'startTime') {
                            <div class="absolute w-full left-0 p-2 bg-white rounded-lg shadow-lg z-10">
                                <input type="time" (change)="onStartTimeChange($event)"
                                    class="w-full bg-[var(--secondary-color)] rounded-lg p-2 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 text-sm">
                            </div>
                            }
                        </div>

                        <!-- Due Time -->
                        <div class="h-full relative">
                            <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                                [iconSvg]="clockIcon.svg" [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
                                [borderColor]="'var(--purple)'" [viewBox]="clockIcon.viewBox"
                                [iconSize]="clockIcon.size" [text]="selectedDueTime() || 'Due'"
                                (click)="toggleDropdown('dueTime')">
                            </app-icon-text-button>

                            @if (openDropdown() === 'dueTime') {
                            <div class="absolute w-full left-0 p-2 bg-white rounded-lg shadow-lg z-10">
                                <input type="time" (change)="onDueTimeChange($event)"
                                    class="w-full bg-[var(--secondary-color)] rounded-lg p-2 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 text-sm">
                            </div>
                            }
                        </div>
                    </div>

                    <!-- Date Column -->
                    <div class="flex flex-col gap-2">
                        <!-- Start Date -->
                        <div class="h-full relative">
                            <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                                [iconSvg]="calendarCleanIcon.svg" [color]="'var(--purple)'"
                                [bgColorHover]="'var(--purple)'" [borderColor]="'var(--purple)'"
                                [viewBox]="calendarCleanIcon.viewBox" [iconSize]="calendarCleanIcon.size"
                                [text]="selectedStartDate() || 'Start'" (click)="toggleDropdown('startDate')">
                            </app-icon-text-button>

                            @if (openDropdown() === 'startDate') {
                            <div class="absolute w-full left-0 p-2 bg-white rounded-lg shadow-lg z-10">
                                <input type="date" (change)="onStartDateChange($event)"
                                    class="w-full bg-[var(--secondary-color)] rounded-lg p-2 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 text-sm">
                            </div>
                            }
                        </div>

                        <!-- Due Date -->
                        <div class="h-full relative">
                            <app-icon-text-button [type]="'button'" [colorHover]="'var(--secondary-color)'"
                                [iconSvg]="calendarCleanIcon.svg" [color]="'var(--purple)'"
                                [bgColorHover]="'var(--purple)'" [borderColor]="'var(--purple)'"
                                [viewBox]="calendarCleanIcon.viewBox" [iconSize]="calendarCleanIcon.size"
                                [text]="selectedDueDate() || 'Due'" (click)="toggleDropdown('dueDate')">
                            </app-icon-text-button>

                            @if (openDropdown() === 'dueDate') {
                            <div class="absolute w-full left-0 p-2 bg-white rounded-lg shadow-lg z-10">
                                <input type="date" (change)="onDueDateChange($event)"
                                    class="w-full bg-[var(--secondary-color)] rounded-lg p-2 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 text-sm">
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-[#1f1f1f20] border-t-2 border-dashed">

        <app-icon-text-button [type]="'submit'" [colorHover]="'var(--secondary-color)'" [iconSvg]="sendIcon.svg"
            [color]="'var(--purple)'" [bgColorHover]="'var(--purple)'" [borderColor]="'var(--purple)'"
            [viewBox]="sendIcon.viewBox" [iconSize]="sendIcon.size" [text]="textButton">
        </app-icon-text-button>
    </div>
</form>