<div class="h-full w-full gap-[1vw] flex flex-col">
    <div class="flex gap-[1vw] justify-between">
        <div class="p-[1.5vw] rounded-2xl bg-[var(--secondary-color)] w-full flex flex-col justify-center">
            <h1 class="lg:text-[2vw] text-2xl font-family-ubuntu-mono-bold">Good Morning, {{ username }}!
            </h1>
            <p class="text-[var(--gray)]">What do you plan to accomplish today?</p>
        </div>
        <div class="hidden sm:flex p-[1.5vw] rounded-2xl bg-[var(--secondary-color)] w-auto flex-col justify-center">
            <h2 class="lg:whitespace-nowrap font-family-ubuntu-mono-bold text-xl">{{ dateAndTime | async }}</h2>
        </div>
    </div>

    <div class="w-full h-full bg-[var(--secondary-color)] rounded-2xl p-[1.5vw] flex flex-col gap-[1vw] min-h-0">
        <!-- Header -->
        <div class="flex justify-between items-center">
            <h1 class="lg:text-[2vw] text-2xl font-family-ubuntu-mono-bold">{{ title }} Tasks</h1>
            <ul class="flex gap-2">
                <div class="flex h-full">
                    <app-icon-text-button icon="add" text="Hour" [iconSvg]="iconHour.svg" [color]="'var(--dark)'"
                        [viewBox]="iconHour.viewBox" [iconSize]="iconHour.size"
                        (click)="filterByHour()"></app-icon-text-button>
                </div>
                <div class="flex h-full">
                    <app-icon-text-button icon="add" text="Priority" [iconSvg]="iconPriority.svg"
                        [color]="'var(--dark)'" [viewBox]="iconPriority.viewBox" [iconSize]="iconPriority.size"
                        (click)="filterByPriority()"></app-icon-text-button>
                </div>
            </ul>
        </div>

        <!-- Scroll container -->
        <div
            class="flex flex-col gap-[0.5vw] overflow-y-auto overflow-x-hidden flex-1 min-h-0 scrollbar-hide pr-1 font-family-ubuntu-mono-bold">
            @for (task of tasks; track task.id) {
            <div class="flex flex-col lg:flex-row justify-between cursor-pointer gap-[1vw] lg:items-center hover:bg-[var(--primary-color)] p-[1vw] rounded-lg"
                (click)="openTaskDetails(task)">
                <div class="flex gap-4 items-center">
                    <div class="border border-[var(--gray)] aspect-square h-[1.5vw] min-h-[20px] rounded-sm cursor-pointer bg-[var(--secondary-color)]"
                        (click)="completeTask(task)" (click)="$event.stopPropagation()"></div>
                    <div class="flex flex-col">
                        @if (task.listId) {
                        <div class="flex items-center gap-[0.5vw]">
                            <div class="rounded-full w-2 h-2 inline-block"
                                [style.background-color]="getListById(task.listId)?.color"></div>
                            <h4 class="font-family-ubuntu-mono-bold text-sm">{{ getListById(task.listId)?.name }}</h4>
                        </div>
                        }
                        <h3 class="text-xl">{{ task.name }}</h3>
                        <div class="w-full">
                            <p class="font-family-ubuntu-mono text-[var(--gray)] break-all whitespace-normal">
                                {{ task.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-auto flex gap-2 h-[5vh] justify-end">
                    <div class="w-auto">
                        <app-icon-text-button [type]="'button'" [iconSvg]="calendarIcon.svg" [color]="'var(--purple)'"
                            [viewBox]="calendarIcon.viewBox" [iconSize]="'20'" [text]="formatDate(task.dueDate)">
                        </app-icon-text-button>
                    </div>
                    <div class="w-auto">
                        <app-icon-text-button [type]="'button'" [iconSvg]="clockIcon.svg" [color]="'var(--purple)'"
                            [viewBox]="clockIcon.viewBox" [iconSize]="'20'" [text]="formatTimeTo12Hour(task.dueTime)">
                        </app-icon-text-button>
                    </div>
                    <div class="w-auto">
                        <app-icon-text-button [type]="'button'" [iconSvg]="flagIcon.svg"
                            [color]="getPriorityColor(task.priority)" [viewBox]="flagIcon.viewBox" [iconSize]="'20'"
                            [text]="getPriorityText(task.priority)">
                        </app-icon-text-button>
                    </div>
                </div>
            </div>
            <hr class="border-[#1f1f1f20] border-t-2 border-dashed">
            }
        </div>

        <div class="flex justify-end">
            <div class="w-[20%] min-w-[150px]">
                <app-icon-text-button [colorHover]="'var(--secondary-color)'" [color]="'var(--purple)'" icon="add"
                    text="New Task" [borderColor]="'var(--purple)'" [bgColorHover]="'var(--purple)'"
                    [iconSvg]="addIcon.svg" (click)="togglePopUp()"></app-icon-text-button>
            </div>
        </div>
    </div>
</div>