<div class="left-0 top-0 fixed w-screen h-screen bg-[rgba(0,0,0,0.5)] flex justify-center items-center backdrop-blur-sm z-1"
    (click)="toggleAddList()">
    <div class="w-[40vw] bg-[var(--primary-color)] rounded-xl" (click)="$event.stopPropagation()">
        <div class="flex flex-col w-full h-full p-[2vw] gap-4">
            <div class="flex items-center justify-between">
                <h3 class="font-family-ubuntu-mono-bold text-2xl">Agregar Lista</h3>
                <app-icon-text-button [iconSvg]="closeIcon" [textColor]="'var(--purple)'"
                    [bgColorHover]="'var(--purple)'" [viewBox]="'0 0 24 24'" [iconSize]="'24'"
                    (click)="toggleAddList()">
                </app-icon-text-button>
            </div>
            <hr class="border-[#1f1f1f20] border-t-2 border-dashed">
            <input type="text" placeholder="List's name"
                class="w-full bg-[var(--secondary-color)] rounded-lg p-3 outline-none focus:border-[var(--purple)] border-2 border-transparent transition-all duration-200 placeholder-[var(--gray)] text-sm">
            <hr class="border-[#1f1f1f20] border-t-2 border-dashed">
            <div class="flex justify-between items-center relative">
                <div class="relative">
                    <app-aside-item [title]="'Select color'" [color]="selectedColor" [showText]="true" class="text-sm"
                        [borderColor]="selectedColor" (click)="toggleColorPicker()">
                    </app-aside-item>

                    @if (showColorPicker) {
                    <div
                        class="absolute top-full w-[250px] left-0 mt-2 p-2 bg-white rounded-lg shadow-lg z-10 grid grid-cols-6 gap-2">
                        @for (color of pastelColors; track $index) {
                        <div [style.background-color]="color" (click)="selectColor(color)"
                            class="w-8 h-8 rounded cursor-pointer hover:scale-110 transition-transform"
                            [class.border-purple-500]="selectedColor === color"
                            [class.border-gray-300]="selectedColor !== color">
                        </div>
                        }
                    </div>
                    }
                </div>

                <app-icon-text-button [iconSvg]="sendIcon" [textColor]="'var(--purple)'"
                    [bgColorHover]="'var(--purple)'" [borderColor]="'var(--purple)'" [viewBox]="'0 0 24 25'"
                    [iconSize]="'20'" [text]="'Add Task'">
                </app-icon-text-button>
            </div>
        </div>
    </div>
</div>